.mypy_cache
.vscode
*__pycache__*
*.pid
*.db
*.pyc
*.DS_Store
.idea
.pytest_cache
.coverage
.vscode
.env
.coverage.*
coverage_html_report
*.tar.gz
bin
*egg-info
*.log
*.log.*
dist
*.code-workspace
*.ipynb
*.swp
coverage.xml
